// Glyphicons font path
$icon-font-path: "../fonts/";
// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;
// Colors
$brand-primary: #274bae;
$darkblue: #1d3a57;
$blue: #295d80;
$lighterblue: #136ca9;
$green: #23a53a;
$orange: #faaf4c;
$yellow: #fff02a;
$white: #FFFFFF;
$lightgrey: #d9d9d9;
$font-size-base: 16px !default;
$line-height-base: 1.5 !default;